# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.libs

# Sphinx documentation
docs/_build/

# IDEs ans venvs
.venv/

# Caches
cache
.pytest_cache/
.coverage

# Amazon S3
amazon-last-mile-challenges/


TRB2025/outputs
TRB2025/test-figures/
TRB2025/outputs-ellipses

.env

.idea/

conferences/