# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.libs


# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IDE's etc.
.idea/
venv/
venv2/
.vrp_gui/
.venv_thesis

# OSM caches
cache
VRP-street-network.code-workspace
