[MESSAGES CONTROL]

disable=fixme,
        missing-docstring,
        attribute-defined-outside-init,
        unspecified-encoding,
        missing-timeout,
        too-few-public-methods,
        too-many-public-methods,
        too-many-arguments,
        too-many-instance-attributes,
